#foto-inicio{
    margin-left: auto;
    margin-right: auto;
    width: 1100px;
    height: 565px;
}

#inicio-cadiz{
    font-family: 'Lucida Console Normal';
    margin-top: 100px;
    text-align: center;
    font-size: 70px;
}

.grid-85{
    margin-top: 10px;
    margin-left: 105px;
    margin-right: auto;
}

#actividades{
    margin-top: 0;
}

#gastro{
    width: 427px;
    height: 500px;
}

#monum{
    width: 427px;
    height: 320px;
}

#img{
    margin-left: 430px;
}