
#m-localizacion{
    text-align: center;
    background-color: #DA1C5C;
    height: 300px;
}

#m-ciudad{
    text-align: center;
    background-color: #D6D310;
    height: 200px;
}

#m-edificio{
    text-align: center;
    background-color: #D6D310;
    height: 200px;
}

@font-face{
    font-family: "FunSized";
    src: url(C:\Users\fanny\OneDrive\Documentos\GitHub\DSM2\fuentes/FunSized.ttf);
}

h2{
    margin-top: 150px;
    font: FunSized;
}

