#foto-localizacion{
    height: 300px;
    width:1345px;
}

#foto-ciudad{
  height: 200px;
  width: 650px;

}

#foto-edificio{
  height: 200px;
  width: 650px;
  margin-left: 10px;
}

h2{
    margin-top: 150px;
}

