table,td {
	border: 1px solid grey;
}

table{
    background-color: deepskyblue;
}

.dias{
    margin-left: 10px;
}

.bloquesdias{
    margin-left: 5px;
}

#fotopeople{
    height: 235px;
}

.bloques{
    background-color: antiquewhite;
}

#pinturaVR{
    height: 180px;
}

#despedida{
    height: 230px;
}

.bloquesdiv{
    border-radius: 5%;
}



#feb{
    background-color: red;
}

td{
    width: 2%;
    text-align: center;
    background-color: white;
}

a{
    color: red;
     text-decoration:none;   
}

.semana{
    color: red;
    font-weight: bold;
    border-radius: 100%;
   cursor: pointer;
}
